In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import transbigdata as tbd

# 爬虫

In [2]:
import urllib
import json
import pandas as pd
import time
while 1:
    try:
        url = 'https://bus.sustcra.com/api/v2/monitor_osm/'
        request = urllib.request.Request(url)
        response = urllib.request.urlopen(request)
        webpage = response.read()
        result = webpage.decode('utf8', 'ignore')
        data = json.loads(result)
        data = pd.DataFrame(data)
        data = data[(data['time_rt']-data['time_mt'])<300]
        if len(data)>0:
            data['time_mt'] = data['time_mt'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
            data['time_rt'] = data['time_rt'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
            data['time_et'] = data['time_et'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
            data['time_at'] = data['time_at'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
            thistime = time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(time.time()))
            data.to_csv(r'data/'+thistime+'.csv',index = None)
            time.sleep(5)
    except:
        pass

In [10]:
import pandas as pd
import glob
files = glob.glob("data/*.csv")
df = []
for f in files:
    csv = pd.read_csv(f)
    df.append(csv)
df = pd.concat(df)

# 数据处理

In [11]:
#df = pd.read_csv(r'data/data.csv')
df = df.sort_values(by = 'time_rt')
df

,id,time_mt,time_rt,time_et,time_at,lng,lat,speed,course,accum_trip,route_dir,route_flag,route_sn,route_dist
2,8345,2022-08-01 07:56:30,2022-08-01 07:58:59,2022-08-01 07:59:00,2022-08-01 06:33:33,113.997512,22.610563,0,60,54470.0,1,0,1,530
6,8447,2022-08-01 07:59:05,2022-08-01 07:59:05,2022-08-01 07:59:05,2022-08-01 07:53:30,113.998596,22.608720,23,340,78070.2,1,1,7,794
1,8335,2022-08-01 07:58:08,2022-08-01 07:59:08,2022-08-01 07:59:08,2022-08-01 07:58:08,113.996643,22.610509,0,0,65910.7,1,1,1,533
1,8335,2022-08-01 07:58:08,2022-08-01 07:59:08,2022-08-01 07:59:08,2022-08-01 07:58:08,113.996643,22.610509,0,0,65910.7,1,1,1,533
4,8411,2022-08-01 07:59:06,2022-08-01 07:59:09,2022-08-01 07:59:06,2022-08-01 06:50:11,113.994430,22.595893,15,324,51228.6,1,1,10,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,8330,2022-08-01 09:06:24,2022-08-01 09:06:24,2022-08-01 09:06:24,2022-08-01 06:51:48,113.994125,22.605773,22,56,70658.9,2,1,1,496
6,8421,2022-08-01 09:03:41,2022-08-01 09:06:26,2022-08-01 09:06:26,2022-08-01 07:19:03,113.997306,22.610673,0,209,65953.1,1,0,1,526
10,8471,2022-08-01 09:06:26,2022-08-01 09:06:26,2022-08-01 09:06:26,2022-08-01 07:32:10,113.997879,22.610172,21,149,71511.4,1,1,1,478
4,8371,2022-08-01 09:06:24,2022-08-01 09:06:27,2022-08-01 09:06:24,2022-08-01 06:55:55,113.991744,22.599815,16,218,74771.7,2,0,2,265
3,8365,2022-08-01 09:06:12,2022-08-01 09:06:27,2022-08-01 09:06:27,2022-08-01 06:58:33,113.997352,22.610643,0,233,59555.0,1,0,1,540

In [12]:
df = df[((pd.to_datetime(df['time_rt'])-pd.to_datetime(df['time_mt'])).dt.total_seconds())<300]

In [21]:
df[df['id']==18447].to_csv(r'GPSdata/data3_flag1.csv',index=None)

In [22]:
df[df['id']==18447].iloc[]

,id,time_mt,time_rt,time_et,time_at,lng,lat,speed,course,accum_trip,route_dir,route_flag,route_sn,route_dist
10,18447,2022-08-01 07:58:55,2022-08-01 07:59:09,2022-08-01 07:59:06,2022-07-30 11:42:10,113.995559,22.606311,0,113,42134.7,2,0,11,310
10,18447,2022-08-01 07:59:17,2022-08-01 07:59:20,2022-08-01 07:59:17,2022-07-30 11:42:10,113.995971,22.606233,22,108,42134.7,2,0,11,264
10,18447,2022-08-01 07:59:20,2022-08-01 07:59:23,2022-08-01 07:59:20,2022-07-30 11:42:10,113.996124,22.606182,18,110,42134.8,2,1,11,247
10,18447,2022-08-01 07:59:20,2022-08-01 07:59:23,2022-08-01 07:59:20,2022-07-30 11:42:10,113.996124,22.606182,18,110,42134.8,2,1,11,247
10,18447,2022-08-01 07:59:25,2022-08-01 07:59:28,2022-08-01 07:59:25,2022-07-30 11:42:10,113.996353,22.606113,19,111,42134.8,2,1,11,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,18447,2022-08-01 09:05:56,2022-08-01 09:05:59,2022-08-01 09:05:56,2022-07-30 11:42:10,113.990859,22.599166,20,57,42147.6,1,0,13,352
11,18447,2022-08-01 09:05:56,2022-08-01 09:05:59,2022-08-01 09:05:56,2022-07-30 11:42:10,113.990859,22.599166,20,57,42147.6,1,0,13,352
11,18447,2022-08-01 09:05:56,2022-08-01 09:06:13,2022-08-01 09:06:10,2022-07-30 11:42:10,113.991104,22.599330,0,36,42147.6,1,0,13,336
11,18447,2022-08-01 09:05:56,2022-08-01 09:06:13,2022-08-01 09:06:10,2022-07-30 11:42:10,113.991104,22.599330,0,36,42147.6,1,0,13,336
11,18447,2022-08-01 09:05:56,2022-08-01 09:06:13,2022-08-01 09:06:10,2022-07-30 11:42:10,113.991104,22.599330,0,36,42147.6,1,0,13,336

In [20]:
df['id'].value_counts()

8371     531
8458     524
18447    517
8470     489
8411     483
8421     448
8335     446
8345     427
8330     381
8447     337
8471     328
8147     227
8365     141
Name: id, dtype: int64