In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
import transbigdata as tbd

# 爬虫

In [5]:
import urllib
import json
import pandas as pd
import time
while 1:
    url = 'https://bus.sustcra.com/api/v2/monitor_osm/'
    request = urllib.request.Request(url)
    response = urllib.request.urlopen(request)
    webpage = response.read()
    result = webpage.decode('utf8', 'ignore')
    data = json.loads(result)
    data = pd.DataFrame(data)
    data = data[(data['time_rt']-data['time_mt'])<300]
    if len(data)>0:
        data['time_mt'] = data['time_mt'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
        data['time_rt'] = data['time_rt'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
        data['time_et'] = data['time_et'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
        data['time_at'] = data['time_at'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
        thistime = time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(time.time()))
        data.to_csv(r'data/'+thistime+'.csv',index = None)
        time.sleep(5)

In [2]:
import pandas as pd
import glob
files = glob.glob("data/*.csv")
df = []
for f in files:
    csv = pd.read_csv(f)
    df.append(csv)
df = pd.concat(df)

# 数据处理

In [129]:
df = pd.read_csv(r'data/data.csv')
df = df.sort_values(by = 'time_rt')
df

,id,time_mt,time_rt,time_et,time_at,lng,lat,speed,course,accum_trip,route_dir,route_flag,route_sn,route_dist
20054,8365,2022-07-30 10:16:57,2022-07-30 10:22:57,2022-07-30 10:22:57,2022-07-30 08:30:05,113.996788,22.610540,0,331,59441.0,1,1,1,532
20051,8040,2022-07-30 08:36:15,2022-07-30 10:22:59,2022-07-30 10:23:00,2022-07-30 08:13:08,113.996726,22.610452,0,65,66714.0,1,1,7,1000
20056,8458,2022-07-30 10:18:30,2022-07-30 10:23:00,2022-07-30 10:23:00,2022-07-30 10:18:30,113.996726,22.610261,0,0,66042.5,1,1,1,533
20053,8345,2022-07-30 10:23:00,2022-07-30 10:23:00,2022-07-30 10:23:00,2022-07-30 08:38:14,113.990272,22.597555,20,185,54395.2,1,0,12,217
20055,8411,2022-07-30 10:22:57,2022-07-30 10:23:01,2022-07-30 10:22:57,2022-07-30 06:41:26,113.996269,22.606470,24,284,51155.6,1,1,3,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11515,8458,2022-07-30 17:56:02,2022-07-30 17:56:20,2022-07-30 17:56:17,2022-07-30 10:43:09,113.996078,22.602931,0,101,66121.6,1,1,6,170
18831,8458,2022-07-30 17:56:02,2022-07-30 17:56:20,2022-07-30 17:56:17,2022-07-30 10:43:09,113.996078,22.602931,0,101,66121.6,1,1,6,170
17888,8458,2022-07-30 17:56:02,2022-07-30 17:56:20,2022-07-30 17:56:17,2022-07-30 10:43:09,113.996078,22.602931,0,101,66121.6,1,1,6,170
11513,8365,2022-07-30 17:56:24,2022-07-30 17:56:27,2022-07-30 17:56:24,2022-07-30 08:30:05,113.997032,22.597789,15,39,59488.4,2,1,5,361
18829,8365,2022-07-30 17:56:24,2022-07-30 17:56:27,2022-07-30 17:56:24,2022-07-30 08:30:05,113.997032,22.597789,15,39,59488.4,2,1,5,361

In [130]:
df = df[((pd.to_datetime(df['time_rt'])-pd.to_datetime(df['time_mt'])).dt.total_seconds())<300]