In [23]:
import pandas as pd
import numpy as np
import geopandas as gpd
import transbigdata as tbd

In [24]:

geojson_line_1= [
    [
      113.9902000608227,
      22.60334446057298,
      0
    ],
    [
      113.9903507353066,
      22.60274690433305,
      0
    ],
    [
      113.9908897685934,
      22.60223280847205,
      0
    ],
    [
      113.9916260097764,
      22.60156692563558,
      0
    ],
    [
      113.9920446448193,
      22.60109135771524,
      0
    ],
    [
      113.9920345671635,
      22.60052003061499,
      0
    ],
    [
      113.9919356057219,
      22.60002742855453,
      0
    ],
    [
      113.9913193648925,
      22.59945330686925,
      0
    ],
    [
      113.9908118273651,
      22.59919305096794,
      0
    ],
    [
      113.9905758993394,
      22.59903425858952,
      0
    ],
    [
      113.9904009525345,
      22.59862018369482,
      0
    ],
    [
      113.9902978490773,
      22.59752639824848,
      0
    ],
    [
      113.9904063277428,
      22.59709615868556,
      0
    ],
    [
      113.9908760621444,
      22.59704147897459,
      0
    ],
    [
      113.9915566904328,
      22.5972455558366,
      0
    ],
    [
      113.9920342333153,
      22.59726814181022,
      0
    ],
    [
      113.9927162086146,
      22.5968173712095,
      0
    ],
    [
      113.9932552142158,
      22.59630326187374,
      0
    ],
    [
      113.9938251162565,
      22.5960599036024,
      0
    ],
    [
      113.9942637689173,
      22.59607116200299,
      0
    ],
    [
      113.9945506236767,
      22.59551917942994,
      0
    ],
    [
      113.9952872316258,
      22.59597241715224,
      0
    ],
    [
      113.9965296425777,
      22.59731692465482,
      0
    ],
    [
      113.9980455511388,
      22.59902110136386,
      0
    ],
    [
      113.9987961352288,
      22.59953364148681,
      0
    ],
    [
      113.9996172189355,
      22.60002130471761,
      0
    ],
    [
      113.9988625272248,
      22.60073512664515,
      0
    ],
    [
      113.998734780645,
      22.60117875994807,
      0
    ],
    [
      113.9987272567012,
      22.60148247090658,
      0
    ],
    [
      113.9984811102924,
      22.60178382602745,
      0
    ],
    [
      113.9982613807302,
      22.6021205004729,
      0
    ],
    [
      113.9980697519452,
      22.60258771673122,
      0
    ],
    [
      113.9980026147617,
      22.60300575140722,
      0
    ],
    [
      113.9979489117119,
      22.60325062940188,
      0
    ],
    [
      113.9978602396981,
      22.6033412591236,
      0
    ],
    [
      113.9968866415579,
      22.6029808956564,
      0
    ],
    [
      113.9962401029074,
      22.60288348203091,
      0
    ],
    [
      113.9955117554291,
      22.60290040283193,
      0
    ],
    [
      113.9950813789864,
      22.60335930509263,
      0
    ],
    [
      113.9944946598457,
      22.60394737599491,
      0
    ],
    [
      113.9939497003322,
      22.60464554145209,
      0
    ],
    [
      113.9934784038899,
      22.60548092977822,
      0
    ],
    [
      113.995278497141,
      22.60640224097063,
      0
    ],
    [
      113.9953277666447,
      22.60667341560261,
      0
    ],
    [
      113.9964905851169,
      22.6063775771138,
      0
    ],
    [
      113.9977156537446,
      22.60596002561628,
      0
    ],
    [
      113.9983207115444,
      22.60613169032316,
      0
    ],
    [
      113.9986648706885,
      22.60659923685179,
      0
    ],
    [
      113.9988979465801,
      22.60815331611633,
      0
    ],
    [
      113.9981618912118,
      22.60975341767644,
      0
    ],
    [
      113.9976555155949,
      22.61051444868976,
      0
    ],
    [
      113.9973489079054,
      22.61067741494136,
      0
    ]
  ]
geojson_line_2= [
    [
      113.9914596783045,
      22.59960492109923,
      0
    ],
    [
      113.9918969233072,
      22.59993661748595,
      0
    ],
    [
      113.9920105698998,
      22.6005318195689,
      0
    ],
    [
      113.9919172423369,
      22.60102266627295,
      0
    ],
    [
      113.9917196221943,
      22.601431625928,
      0
    ],
    [
      113.9912862193332,
      22.60181812810236,
      0
    ],
    [
      113.9909041713777,
      22.60213330809864,
      0
    ],
    [
      113.9904804856139,
      22.60253483338519,
      0
    ],
    [
      113.9903330314688,
      22.60277899659393,
      0
    ],
    [
      113.9900477774609,
      22.60433153499769,
      0
    ],
    [
      113.9900962409839,
      22.60464254738627,
      0
    ],
    [
      113.9903161120924,
      22.60505460565142,
      0
    ],
    [
      113.9915641615897,
      22.60511717356275,
      0
    ],
    [
      113.9934784038899,
      22.60548092977822,
      0
    ],
    [
      113.995278497141,
      22.60640224097063,
      0
    ],
    [
      113.9953277666447,
      22.60667341560261,
      0
    ],
    [
      113.9964905851169,
      22.6063775771138,
      0
    ],
    [
      113.9977156537446,
      22.60596002561628,
      0
    ],
    [
      113.9983207115444,
      22.60613169032316,
      0
    ],
    [
      113.9986648706885,
      22.60659923685179,
      0
    ],
    [
      113.9988979465801,
      22.60815331611633,
      0
    ],
    [
      113.9981618912118,
      22.60975341767644,
      0
    ],
    [
      113.9976555155949,
      22.61051444868976,
      0
    ],
    [
      113.9973489079054,
      22.61067741494136,
      0
    ]
  ]
stations_geojson= {
    "type": "FeatureCollection", "features": [
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.99020, 22.60336]},
        "properties": {"name": "工学院 COE"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.99153, 22.599643]},
        "properties": {"name": "科研楼 Research Building"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.990399, 22.597132]},
        "properties": {"name": "七号门 Gate7"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.992403, 22.597011]},
        "properties": {"name": "行政楼 Administration Building"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.994898, 22.59569]},
        "properties": {"name": "1号门 Gate1"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.99939, 22.599893]},
        "properties": {"name": "3号门 Gate3"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.998329, 22.601975]},
        "properties": {"name": "专家公寓 Guest Houses"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.997811, 22.603325]},
        "properties": {"name": "教工餐厅 Faculty Cafteria"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.995981, 22.60293]},
        "properties": {"name": "社康中心 C.Health.Center"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.99289, 22.60532]},
        "properties": {"name": "学生宿舍北 Student Dormitory N."}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.994041, 22.604431]},
        "properties": {"name": "学生宿舍南 Student Dormitory S."}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.995238, 22.606518]},
        "properties": {"name": "荔园 Lychee Hill"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.996732, 22.606278]},
        "properties": {"name": "创园 Chuang Yuan"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.998372, 22.606102]},
        "properties": {"name": "慧园 Hui Yuan"}
      },
      {
        "type": "Feature",
        "geometry": {"type": "Point", "coordinates": [113.997473, 22.610667]},
        "properties": {"name": "欣园 Joy Highland"}
      }
    ]
  }

In [25]:
import json
stations_geojson = gpd.GeoDataFrame.from_features(stations_geojson)

In [82]:
from shapely.geometry import LineString
line1 = LineString(np.array(geojson_line_1)[:,:2])
line1data = gpd.GeoDataFrame()
line1data['geometry'] = [line1]
line1data.to_file(r'public/data/line1.json',driver='GeoJSON')
line1data.crs = 'epsg:4326'
line1 = line1data.to_crs(epsg=3857)['geometry'].iloc[0]


from shapely.geometry import LineString
line2 = LineString(np.array(geojson_line_2)[:,:2])
line2data = gpd.GeoDataFrame()
line2data['geometry'] = [line2]
line2data.to_file(r'public/data/line2.json',driver='GeoJSON')

line2data.crs = 'epsg:4326'
line2 = line2data.to_crs(epsg=3857)['geometry'].iloc[0]

In [83]:
stations_geojson_line1 = stations_geojson.copy()
stations_geojson_line2 = pd.concat([stations_geojson[1:2],
 stations_geojson[0:1], 
 stations_geojson[-5:]])

In [84]:
stations_geojson_line1.crs = 'epsg:4326'
stations_geojson_line1_3857 = stations_geojson_line1.to_crs(epsg=3857)
stations_geojson_line2.crs = 'epsg:4326'
stations_geojson_line2_3857 = stations_geojson_line2.to_crs(epsg=3857)

In [85]:
stations_geojson_line1['dist'] = stations_geojson_line1_3857['geometry'].apply(lambda r:line1.project(r))
stations_geojson_line2['dist'] = stations_geojson_line2_3857['geometry'].apply(lambda r:line2.project(r))

In [90]:
stations_geojson_line1['name'] = stations_geojson_line1['name'].apply(lambda r:r.split(' ')[0])
stations_geojson_line2['name'] = stations_geojson_line2['name'].apply(lambda r:r.split(' ')[0])

In [91]:
stations_geojson_line1.to_file(r'public/data/stop1.json',driver='GeoJSON')
stations_geojson_line2.to_file(r'public/data/stop2.json',driver='GeoJSON')

In [86]:
stations_geojson_line2

                      geometry                        name         dist
1   POINT (113.99153 22.59964)       科研楼 Research Building     8.963205
0   POINT (113.99020 22.60336)                     工学院 COE   546.924606
10  POINT (113.99404 22.60443)  学生宿舍南 Student Dormitory S.  1115.232599
11  POINT (113.99524 22.60652)              荔园 Lychee Hill  1357.374447
12  POINT (113.99673 22.60628)              创园 Chuang Yuan  1541.149595
13  POINT (113.99837 22.60610)                 慧园 Hui Yuan  1727.863554
14  POINT (113.99747 22.61067)             欣园 Joy Highland  2329.081063

In [10]:
line2 = LineString(np.array(geojson_line_2)[:,:2])

# 爬虫

In [1]:
import urllib
import json
import pandas as pd
import time
while 1:
    url = 'https://bus.sustcra.com/api/v2/monitor_osm/'
    request = urllib.request.Request(url)
    response = urllib.request.urlopen(request)
    webpage = response.read()
    result = webpage.decode('utf8', 'ignore')
    data = json.loads(result)
    data = pd.DataFrame(data)
    data['time_mt'] = data['time_mt'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
    data['time_rt'] = data['time_rt'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
    data['time_et'] = data['time_et'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
    data['time_at'] = data['time_at'].apply(lambda r:time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(r)))
    thistime = time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(time.time()))
    data.to_csv(r'data/'+thistime+'.csv',index = None)
    time.sleep(5)

KeyboardInterrupt:

In [2]:
import pandas as pd
import glob
files = glob.glob("data/*.csv")
df = []
for f in files:
    csv = pd.read_csv(f)
    df.append(csv)
df = pd.concat(df)

# 数据处理

In [8]:
df = pd.read_csv(r'data/data.csv')
df = df.sort_values(by = 'time_rt')

In [12]:
df

,id,time_mt,time_rt,time_et,time_at,lng,lat,speed,course,accum_trip,route_dir,route_flag,route_sn,route_dist
20054,8365,2022-07-30 10:16:57,2022-07-30 10:22:57,2022-07-30 10:22:57,2022-07-30 08:30:05,113.996788,22.610540,0,331,59441.0,1,1,1,532
20051,8040,2022-07-30 08:36:15,2022-07-30 10:22:59,2022-07-30 10:23:00,2022-07-30 08:13:08,113.996726,22.610452,0,65,66714.0,1,1,7,1000
20056,8458,2022-07-30 10:18:30,2022-07-30 10:23:00,2022-07-30 10:23:00,2022-07-30 10:18:30,113.996726,22.610261,0,0,66042.5,1,1,1,533
20053,8345,2022-07-30 10:23:00,2022-07-30 10:23:00,2022-07-30 10:23:00,2022-07-30 08:38:14,113.990272,22.597555,20,185,54395.2,1,0,12,217
20055,8411,2022-07-30 10:22:57,2022-07-30 10:23:01,2022-07-30 10:22:57,2022-07-30 06:41:26,113.996269,22.606470,24,284,51155.6,1,1,3,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11515,8458,2022-07-30 17:56:02,2022-07-30 17:56:20,2022-07-30 17:56:17,2022-07-30 10:43:09,113.996078,22.602931,0,101,66121.6,1,1,6,170
18831,8458,2022-07-30 17:56:02,2022-07-30 17:56:20,2022-07-30 17:56:17,2022-07-30 10:43:09,113.996078,22.602931,0,101,66121.6,1,1,6,170
17888,8458,2022-07-30 17:56:02,2022-07-30 17:56:20,2022-07-30 17:56:17,2022-07-30 10:43:09,113.996078,22.602931,0,101,66121.6,1,1,6,170
11513,8365,2022-07-30 17:56:24,2022-07-30 17:56:27,2022-07-30 17:56:24,2022-07-30 08:30:05,113.997032,22.597789,15,39,59488.4,2,1,5,361
18829,8365,2022-07-30 17:56:24,2022-07-30 17:56:27,2022-07-30 17:56:24,2022-07-30 08:30:05,113.997032,22.597789,15,39,59488.4,2,1,5,361